body {
  background-color: rgba(135, 221, 234, 0.3);
  font-family: 'Kavivanar', cursive;
  /* background: linear-gradient(to bottom, white, aqua) */
}
.navbar {
  
}
  .navbar .button {
    background: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom right, white, black); 
  }
  .navbar li {
  display: inline;
  }

.header {
  text-align: center;
}

.bodyHeader {
  text-align: left;
}
.wrap {
  border-radius: 15px;
  background-color: rgba(105, 150, 227, 0.4);
}
  .wrap .bodyContent {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
  }
    .wrap .bodyContent .headerCard {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: table;
      background-color: rgba(105, 150, 227, 0.8);
      border-radius: 15px 50px;
      margin-bottom: 2%;
    }
    .wrap .bodyContent .card {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: table;
      background-color: rgba(105, 150, 227, 0.8);
      border-radius: 15px 50px;
      margin-bottom: 2%;
      max-width: 80%;
      /* justify-content: flex-start; */
    }
      .wrap .bodyContent .image {
        width: 40%;
        height: 30%;
        border-radius: 30px;
      }
      .wrap .bodyContent .content {
        width: 50%;
        height: 30%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
      }
      .wrap .bodyContent .defaultImage {
        width: 40%;
        height: 30%;
      }
    .wrap .bodyContent .reverse-card {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: table;
      background-color: rgba(105, 150, 227, 0.8);
      border-radius: 15px 50px;
      margin-bottom: 2%;
      margin-left: auto;
      text-align: right
    }
      .wrap .bodyContent .reverse-card .image {
        width: 40%;
        height: 30%;
        border-radius: 30px;
      }
      .wrap .bodyContent .reverse-card .defaultImage {
        width: 40%;
        height: 20%;
      }
      .wrap .bodyContent .reverse-card .content {
        width: 50%;
        height: 30%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
      }
    /* .wrap .bodyContent .summaryCard {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: table;
      background-color: rgba(105, 150, 227, 0.8);
      border-radius: 15px 50px;
      margin-bottom: 2%;
    } */
    .wrap .bodyContent .table {
      width: 100%;
      height: 80%;
      font-size: 25px;
    }
      .wrap .bodyContent .table .leftContent {
        width: 100%;
        height: 100%;
        background-color: rgba(111, 172, 227, 0.8);
      
      }
      .wrap .bodyContent .table .rightContent {
        width: 100%;
        height: 100%;
        background-color: rgba(111, 172, 227, 0.8);
      }